@import '../templates.scss';

.adminWindow {
    @extend .base-view-behavior;
    @extend .absolute-center;
    padding: 1vh 2vw;
    width: 40%;     
    height: 50vh;
    min-width: 400px;   
    min-height: 380px;

    font-family: $HelveticaRoman;
    border-radius: 5px; 
    color: $white;

    h1 {
        font-size: calc(16px + .7vw);
        margin: 2vh 0 2vh;
    }
    p {
        margin: 0 0 1vh;
    }
    & > div {
        position: relative;
        width: 80%;
        margin: 2vh auto 0;
    }
    button {
        min-width: 5vw;        
        margin: 1vh 0.5vw;
        padding: 1vh 1vw;
        float: left;
        outline: none;

        border: none;
        background-color: $blue;
        font-weight: bold;
        border-radius: 5px;
        font-size: calc(12px + .2vw);
        color: $white;
        
        &:hover {background-color: lighten($blue, 10%)}
    }
    .teleport {
        div {
            label {
                display: block;
                padding-top: 4px;
                float: left;
            }            
            input {
                color: $black;
                width: 200px;
                border: 1px solid $blue;
                border-radius: 10px;
                padding: 3px 0 3px 10px;
                outline: none;
                margin-left: 20px;
            }
            padding: 5px;
        }
        float: left;
    }
    .test-btn {
        background-color: red;
        &:hover {
            background-color: lighten(red, 10%)
        }
    }
}
