@import "../templates.scss";

.auth {
    @extend .absolute-center;
    @extend .base-view-behavior;
    width: 40%;
    min-width: 450px;
    height: 50%;
    min-height: 230px;
    z-index: -99;

    font: {
        family: $HelveticaRoman;
        color: $white;
    }

    header {
        height: 15%;
        transition: 0.6s;

        background-color: darken($black, 4%);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        &.error {background-color: $red;}
    
        .logo {
            float: left;
            width: 12%;
            min-width: 50px;
            padding: 1.7vh 0 0 1.5vw;
        }
        
        .title {
            padding-top: 2vh;
            color: $gray;
            text-align: center;            
            font-size: calc(16px + .7vw);
        }

        .error-message {
            padding-top: 2.6vh;
            color: $white;
            text-align: center;
            font-size: calc(12px + .5vw);
        }
    }

    section {        
        height: 85%;
        width: 100%;

        .navigation {
            height: 100%;
            width: 17%;
            float: left;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: column;

            text-align: center;
            background-color: darken($black, 4%);
            border-bottom-left-radius: 30px;

            li {
                height: 33%;
                padding-top: 30%;
                
                i {
                    font-size: 2vw;
                    color: $gray;
                    &:hover { color: $white; }
                }
            }

        }

        form {
            width: 83%;            
            overflow: auto;

            .input-group {
                width: 45%;
                margin: 0 auto 4vh;

                color: $blue;
                font-size: calc(12px + .3vw);

                input {
                    @extend .input;
                    width: 92%;
                    margin-top: .7vh;
                    text-align: center;
                }
            }

            &.login, &.register {padding-top: 7vh;}

            &.login {
                button {
                    &.loading {
                        padding: 1vh 3.2vw;
                    }
                }
            }

            &.register {
                &.st0 {
                    padding-top: 3vh;
                    button {margin: 2vh auto 0}
                }
                &.st1 {
                    button {
                        padding: 1vh 1.5vw;
                        &.loading {
                            padding: 1vh 3.65vw;
                        }
                    }
                }
            }
        
            button {
                @extend .button;
                display: block;
                margin: 8vh auto 0;
                padding: 1vh 2.5vw;
                font-size: calc(12px + .3vw);
            }
        }
    }
}