@import "../templates.scss";

.charCreation {    
    position: relative;
    height: 100vh;
    font-family: $HelveticaRoman;

    &.active {
        z-index: 100;
        opacity: 1;
    }

    &.inactive {
        z-index: -1;
        opacity: 0;
    }

    h1 {
        margin-bottom: 1vh;
        color: $gray;
        width: 0;
        font: {
            family: $HelveticaBold;
            size: calc(16px + .3vw);
        }
    }

    .main-settings, .appearance-settings {
        width: 20%;
        min-width: 250px;
    }

    .main-settings {
        @extend .side-panel-behavior;
        left: 0;

        section {
            position: relative;
            height: 90vh;

            .name {
                position: relative;
                height: 11%;
                width: 90%;
                margin: 0 auto;
                padding-top: 5vh;
    
                .first-name, .last-name {
                    height: 100%;
                    width: 50%;
                    padding-top: 1vh;
                    float: left;
    
                    label {
                        padding-left: .5vw;
                        color: $white;
                        font-size: calc(12px + .3vw);
                    }
    
                    input {
                        @extend .input;
                        margin-top: 5px;
                        text-align: center;
                    }
                }
            }

            .gender {
                position: relative;
                display: flex;
                justify-content: center;
                width: 100%;                
                height: 9%;
                margin: 0 auto;

                .male, .female {
                    height: 100%;
                    padding-top: 1vh;
                    float: left;
                    color: $white;
                    font-size: calc(12px + .3vw);

                    input {display: none;}
                    input[type="radio"] + label span {
                        display: inline-block;
                        vertical-align: middle;
                        width: 15px;
                        height: 15px;
                        
                        border-radius: 50%;
                        background-color: $darkgray;
                    }
                    input[type="radio"]:checked + label span {
                        background-color: $blue;
                    }                    
                    input[type="radio"] + label span,
                    input[type="radio"]:checked + label span {
                      transition: background-color 0.4s linear;
                    }
                }

                .male {
                    padding-right: 5px;
                    label {span {margin-left: 10px;}}
                }

                .female {
                    padding-left: 5px;
                    label {span {margin-right: 10px;}}
                }
            }

            .parents {
                width: 90%;
                margin: 0 auto;

                .father, .mother {
                    padding-left: 1vw;
                    color: $white;
                    font-size: calc(12px + .3vw);                    
                }

                .similarity, .skin-similarity {
                    width: 90%;
                    margin: 3vh auto 0;
                }
            }

            .rotation {
                position: absolute;
                width: 90%;
                bottom: 4vh;
                left: 1vw;
                margin: 0 auto;
            }
        }

        button {
            @extend .button;
            display: block;
            margin: 3vh auto 0;
            font-size: calc(12px + 0.3vw);
            background-color: $green;
            &:hover {background-color: lighten($green, 10%);}
            &.wait {padding: 1vh 2.2vw;}
        }
    }

    .appearance-settings {
        @extend .side-panel-behavior;
        section {
            @extend .scroll-behavior;
            position: relative;
            height: 85vh;
            margin-top: 5vh;
            padding: 0 .5vw 0 1vw;

            h1 {
                font-family: $HelveticaRoman;
                font-weight: lighter;
            }

            .slider {
                width: 80%;
                margin: 1.5vh auto 0;
            }

            .hair {
                .model {
                    width: 70%;
                    min-width: 230px;
                    margin: 0 auto;                    
                }

                .beard {
                    margin-top: 1.5vh;
                }               
            }

            .face, .features {
                margin-top: 4vh;

                .lipstick-color, .blush-color {
                    margin: .3vw auto 1.2vh;
                }
            }
        }
        
        button {
            @extend .button;
            display: block;
            margin: 3vh auto 0;
            font-size: calc(12px + 0.3vw);
        }
    }

    .error-message {
        position: fixed;
        bottom: 3vh;
        width: 100%;
        z-index: -1;

        text-align: center;
        color: $red;
        text-shadow: 1px 1px 2px $black;
        font: {
            family: $HelveticaBold;
            size: calc(12px + .5vw);
        }
    }

    .active {
        opacity: 1;
        z-index: 1;
    }

    .inactive {
        opacity: 0;
        z-index: -1;
    }
}