@import "../templates.scss";

.clothesShop {
    @extend .toggle-behavior;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    font-family: $HelveticaRoman;
    color: $white;

    .category-selector, .items-selector {
        position: absolute;
        height: 100vh;
        min-height: 600px;
        background-color: $black;

        header {
            position: relative;
            height: 20%;
            min-height: 85px;
        
            h1 {
                position: absolute;
                top: 40%;
                left: 10%;
                font-size: calc(16px + .8vw);
                background-image: -webkit-gradient(linear, left top, right top, from($blue), to($blue));
                background-repeat: no-repeat;
                background-position: 1.5vw 2vh;
                padding-right: 1vw;            
            }
        }

        section {height: 70%;}
    }

    .category-selector {
        left: 0;
        width: 20%;
        min-width: 205px;

        header {height: 15%;}

        section {
            height: 75%;
            .categories {
                width: 60%;
                margin: 0 auto;

                img {
                    width: 3vw;
                    height: 6vh;
                    min-width: 30px;
                    min-height: 30px;
                    padding: 1vh;
                    border-radius: 50%;
                    border: 3px solid $blue;
                    margin: 0 0.5vw 2vh;
                    transition: .4s;
                    &:hover {
                        background-color: $blue;
                    }
                }
            }
            .rotation {
                width: 80%;
                margin: 6vh auto 0;
            }
        }

        .exit {
            @extend .button;
            background-color: $red;
            &:hover {
                background-color: lighten($red, 10%);
            }
        }
    }

    .items-selector {
        right: 0;
        width: 25%;
        min-width: 250px;

        section {
            ul.items-list {
                @extend .scroll-behavior;
                width: 80%;
                height: 85%;
                margin: 0 auto 5%;
                list-style-type: none;
                padding-right: 1vw;
    
                li {
                    position: relative;
                    padding: 1vh .5vw;
                    background-color: $blue;
                    border-radius: 15px;
                    margin-bottom: 2vh;

                    &.selected {border: 2px solid $green;}

                    p {
                        padding-left: .5vw;
                        font-size: calc(12px + .3vw);
                    }

                    .slider {
                        margin-top: .7vh;
                        .title {
                            font-size: calc(10px + .2vw);
                        }
                        .vue-slider-process {background-color: $black}
                    }

                    .item-exist {
                        display: block;
                        position: absolute;
                        top: 1vh;
                        right: 1vw;
                        font-size: calc(12px + .3vw);
                        color: $white;
                    }
                }
            }
            .price {
                margin-right: 2vw;
                text-align: right;
                font-size: calc(16px + .5vw);
                color: $blue;
            }
        }
        button {
            @extend .button;
            &.inactive {background-color: $gray;}
        }
    }

    .success, .error {
        position: fixed;
        width: 100%;
        bottom: 2vh;
        text: {
            align: center;
            shadow: 1px 1px 2px $black;
        }
        font: {
            family: $HelveticaBold;
            size: calc(16px + .5vw);
        }
    }
    .success {color: $green;}
    .error {color: $red;}
}