@import '../templates.scss';

.drivingTheory {
    @extend .absolute-center;
    @extend .base-view-behavior;
    width: 40%;
    height: 50%;
    min-width: 400px;
    min-height: 290px;

    color: $white;

    header {
        height: 15%;        
        
        background-color: $aqua;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        font: {
            family: $HelveticaBold;
            size: calc(14px + .5vw);
        }

        .theory-header {
            height: 100%;
            width: 80%;
            float: left;
            padding: 2.5vh 0 0 2vw;
        }
        
        .questions-counter {
            padding-top: 2.5vh;            
            text-align: center;
        }
    }

    .theory-question, .exam-result {
        height: 85%;
        font-family: $HelveticaRoman;
    }

    .theory-question {
        p {
            height: 30%;
            width: 80%;
            margin: 0 auto;
            padding-top: 7.5vh;
            text-align: center;

            color: $gray;
            font-size: calc(14px + .5vw);
        }
        ul {
            height: 50%;
            width: 80%;
            margin: 0 auto;
            list-style: none;
            li {
                height: 25%;
                text-align: center;
                font-size: calc(12px + .3vw);
                &:hover {color: $aqua;}
            }
        }
    }

    .exam-result {
        text-align: center;

        .result-message {
            height: 30%;
            padding-top: 4vh;
            font-size: calc(14px + 2vh);

            span {
                &.success { color: $green; }
                &.fail { color: $red; }
            }
        }

        .answers-count {
            height: 35%;
            font-size: calc(16px + 4vh);
            font-family: $HelveticaBold;
        }

        .finish-btn {
            @extend .button;
            display: block;
            margin: 0 auto;
        }
    }
}