<template>
    <div :class="{sidebar: true, bistro: true, active: isOpen, inactiveSlide: !isOpen}">
         <header>
            <h1>{{ getLocale('place', 'bistro') }}</h1>
        </header>
        <section>
            <ul>
                <li v-for="(dish, i) in dishes" :key="i" :class="{selected: isSelected(i)}" v-on:click="onSelect(i)">
                    <img :src="dish.icon" />
                    <div class="info">
                        <p class="name">{{ getLocale('dishes', dish.name) }}</p>
                        <small>+{{ dish.value }}</small>
                    </div>
                    <p class="price">{{ dish.price }}$</p>
                </li>
            </ul>
            <p class="total-price">{{ animatedPrice }}$</p>
            <button v-on:click="makeOrder">Заказать</button>
        </section>
        <i class="hide-button fa fa-arrow-circle-right" v-on:click="hide" />
    </div>
</template>

<script>
import '../../../styles/sidebars/bistroSidebar.scss'

import data from './bistro-dishes.json'
import * as Events from '../../../../../global/constants/ServerEvents'
import { locale } from '../../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            isOpen: false,
            dishes: data,
            selectedDishes: [],            
            totalPrice: 0,
            tweenPrice: 0
        }
    },
    methods: {
        // Обработчик открытия сайдбара
        show() {
            this.selectedDishes = []
            this.tweenPrice = this.totalPrice = 0
            this.isOpen = true
        },

        // Обработчик выбора блюда
        onSelect(index) {
            if (this.selectedDishes.includes(index)) {
                const idx = this.selectedDishes.indexOf(index)
                this.selectedDishes.splice(idx, 1)
            }
            else
                this.selectedDishes.push(index)
            this.calcTotalPrice()
        },

        // Проверяет, выбран ли элемент
        isSelected(index) {
            return this.selectedDishes.includes(index)
        },

        // Рассчитывает полную стоимость
        calcTotalPrice() {
            let result = 0
            this.selectedDishes.forEach(i => {
                result += this.dishes[i].price
            })
            this.tweenPrice = result
        },

        // Обработчик создания заказа
        makeOrder() {
            let satiety, thirst
            satiety = thirst = 0
            this.selectedDishes.forEach(i => {
                const dish = this.dishes[i]
                if (dish.isFood)
                    satiety += dish.value
                else
                    thirst += dish.value
            })
            const order = {satiety, thirst, price: this.totalPrice}
            mp.trigger(Events.CALL_REMOTE, Events.BISTRO_ORDER, JSON.stringify(order))
        },

        // Обработчик закрытия сайдбара
        hide() {
            this.isOpen = false
            mp.trigger(Events.HIDE_SIDEBAR)
        },

        // Возвращает локализованную строку
        getLocale(key, value) {
            return locale(key, value, this.lang)
        }
    },
    computed: {
        animatedPrice() {return this.totalPrice.toFixed(0)}
    },
    watch: {
        tweenPrice(newValue) {
            TweenLite.to(this.$data, 0.5, { totalPrice: newValue });
        }
    },
    created() {
        EventManager.on(Events.BISTRO_SHOW, this.show)
        EventManager.on(Events.BISTRO_HIDE, this.hide)
    }
}
</script>
