<template>
    <div 
        class="menu-item"
        v-on:mouseenter="showValue(value)"
        v-on:mouseleave="showValue('')"
        v-on:click="onClick"
    >
        <div class="item item-icon">
            <i v-bind:class="type"></i>
        </div>
    </div>
</template>

<script>
import { bus } from '../'
import { SHOW_RM_ITEM_VALUE } from '../constants/BusEvents'

export default {
    props: ['value', 'type'],
    methods: {
        showValue: function(newValue) {            
            bus.$emit(SHOW_RM_ITEM_VALUE, newValue)
        },
        onClick: function() {
            this.$emit('itemClick')
        }
    }
}
</script>