<template>
    <div :class="{menu: true, active: isOpen, inactive: !isOpen}">
        <div class="item central">
            <p>{{ itemValue }}</p>
        </div>
        <div>
            <div v-if="menuType == 'player'"></div>
            <vehicle v-else-if="menuType == 'vehicle'" :locale="getLocale" />
            <div v-else>
                <job-menu v-if="menuName == 'JobMenu'" :locale="getLocale" :data="data" />
                <driving-school v-if="menuName == 'DrivingSchool'" :locale="getLocale" />
                <vehicles-rent v-if="menuName == 'VehiclesRent'" :locale="getLocale" />
                <bistro v-if="menuName == 'BistroMenu'" :locale="getLocale" />
                <trucker v-if="menuName == 'TruckerMenu'" :locale="getLocale" :data="data" />
                <pilot v-if="menuName == 'PilotMenu'" :locale="getLocale" :data="data" />
                <fillings v-if="menuName == 'FillingsMenu'" :locale="getLocale" :data="data" />
                <clothes v-if="menuName == 'ClothesShopMenu'" :locale="getLocale" :data="data" />
            </div>            
        </div>
    </div>
</template>

<script>
import '../../styles/radialMenu/menu.scss'

import { bus } from '../'
import { SHOW_RM_ITEM_VALUE, KEY_PRESSED } from '../constants/BusEvents'
import { SETUP_MENU, TOGGLE_MENU } from '../../../../global/constants/ServerEvents'
import { locale } from '../../../../global/Locale'

import VehicleMenu from './menus/VehicleMenu.vue'
import JobMenu from './menus/JobMenu.vue'
import DrivingSchoolMenu from './menus/DrivingSchoolMenu.vue'
import VehiclesRentMenu from './menus/VehiclesRentMenu.vue'
import BistroMenu from './menus/BistroMenu.vue'
import TruckerMenu from './menus/TruckerMenu.vue'
import PilotMenu from './menus/PilotMenu.vue'
import FillingsMenu from './menus/FillingsMenu.vue'
import ClothesShopMenu from './menus/ClothesShopMenu.vue'

export default {
    props: ['lang'],
    components: {
        'vehicle': VehicleMenu,
        'job-menu': JobMenu,
        'driving-school': DrivingSchoolMenu,
        'vehicles-rent': VehiclesRentMenu,
        'bistro': BistroMenu,
        'trucker': TruckerMenu,
        'pilot': PilotMenu,
        'fillings': FillingsMenu,
        'clothes': ClothesShopMenu,
    },
    data() {
        return {
            isOpen: false,
            itemValue: '',
            menuType: 'vehicle',
            menuName: '',
            data: {}
        }
    },
    methods: {
        // Устанавливает состояние
        setupMenu(args) {            
            this.menuName = args.name
            this.data = args.data            
        },

        // Управляет видимостью
        toggleMenu(args) {
            this.menuType = args[0]
            this.itemValue = ''
            this.isOpen = !this.isOpen            
        },

        // Возвращает локализированное значение
        getLocale(value) {
            return locale('radialMenu', value, this.lang)
        }
    },
    created() {
        EventManager.on(SETUP_MENU, this.setupMenu)
        EventManager.on(TOGGLE_MENU, this.toggleMenu)
        bus.$on(SHOW_RM_ITEM_VALUE, newValue => this.itemValue = newValue)
    },

    // Для теста в браузере
    mounted() {
        bus.$on(KEY_PRESSED, function(e) {
            if (e.code == 'KeyE') this.isOpen = !this.isOpen
        }.bind(this))
    }
}
</script>
