@import "../templates.scss";

.slider {
    .title {
        text-align: center;
        color: $white;
        font-size: calc(10px + .3vw);
    }

    .vue-slider-component {
        margin-top: .3vh;
    }

    small {
        color: $gray;
        &.right {float: right;}
    }
}