@import "../templates.scss";

.value-slider {
    width: 90%;
    margin: 0 auto;
    font-family: $HelveticaRoman;

    .title {
        display: inline-block;
        width: 30%;
        color: $white;
        font-size: calc(10px + .3vw);
    }

    .value {        
        display: inline-block;
        width: 40%;
        text-align: center;
        color: $blue;
        font-size: calc(12px + .3vw);
    }

    i {
        padding: .5vw;
        transition: 0.3s;
        color: $white;
        &:hover {color: $blue;}
    }
}