<template>
    <div :class="{clothesShop: true, active: isOpen, inactive: !isOpen}">
        <div class="category-selector">
            <header>
                <h1>{{ getLocale('clothes', 'dressingRoom') }}</h1>
            </header>
            <section>
                <div class="categories">
                    <img src="images/clothes/hats.png" v-on:click="onCategoryChanged(0)" />
                    <img src="images/clothes/tops.png" v-on:click="onCategoryChanged(11)" />
                    <img src="images/clothes/legs.png" v-on:click="onCategoryChanged(4)" />
                    <img src="images/clothes/feets.png" v-on:click="onCategoryChanged(6)" />
                    <img src="images/clothes/glasses.png" v-on:click="onCategoryChanged(1)" />
                    <img src="images/clothes/ears.png" v-on:click="onCategoryChanged(2)" />
                    <img src="images/clothes/watch.png" v-on:click="onCategoryChanged(60)" />
                    <img src="images/clothes/brac.png" v-on:click="onCategoryChanged(7)" />
                </div>
                <slider class="rotation"
                    :title="getLocale('character', 'rotate')"
                    :leftLabel="-180"
                    :rightLabel="180"
                    v-on:user-input="v => setHeading(v)"
                    :settings="{
                        value: 0, min: -180, max: 180, interval: 1, 
                        tooltip: 'hover', randomize: false
                    }"
                />
            </section>
            <button class="exit" v-on:click="onExit">{{ getLocale('button', 'exit') }}</button>
        </div>
        <div class="items-selector">
            <header>
                <h1>{{ getCategoryName() }}</h1>
            </header>
            <section>
                <ul class="items-list">
                    <li 
                        :class="{selected: item === selectedItem}"
                        v-for="(item, i) in shopClothes" :key="i"
                        v-on:click="selectItem(item)"
                    >
                        <p>{{ getLocale('clothes', item.name) }}</p>
                        <i class="item-exist fas fa-clipboard-check" v-if="hasItem(item)" />
                        <slider v-if="item === selectedItem && item.textures.length > 1"
                            :title="getLocale('basic', 'color')"
                            v-on:user-input="i => changeTexture(i)"
                            :settings="{
                                value: 0, min: 0, max: item.textures.length - 1, interval: 1, 
                                tooltip: 'hover', randomize: false
                            }"
                        />
                    </li>
                </ul>
                <p class="price" v-if="selectedItem !== null && !hasItem(selectedItem)">{{selectedItem.price}}$</p>
            </section>
            <button :class="{inactive: selectedItem === null}" v-on:click="onBuy">{{ getButtonText() }}</button>
        </div>
        <p :class="{success: !isErrorMsg, error: isErrorMsg}">{{ message }}</p>
    </div>
</template>

<script>
import '../../../styles/windows/clothesShop.scss'

import data from './clothes-data.json'
import * as Events from '../../../../../global/constants/ServerEvents'
import RangeSlider from '../../components/RangeSlider.vue'
import { locale } from '../../../../../global/Locale'

let clothes = null

export default {
    props: ['lang'],
    components: {'slider': RangeSlider},
    data() {
        return {
            isOpen: false,
            category: 0,
            shopClothes: [],
            selectedItem: null,            
            playersClothes: [],

            msgTimerId: -1,
            message: '',
            isErrorMsg: false
        }
    },
    methods: {
        // Открывает окно магазина
        show(args) {
            const shopType = args.shopType === 0 ? 'subUrban' : 'ponsonbys'
            const gender = args.isMale ? 'male' : 'female'
            clothes = data[shopType][gender]
            this.playersClothes = args.clothes
            this.onCategoryChanged(0)
            this.isOpen = true
        },

        // Смена категории одежды
        onCategoryChanged(value) {
            this.selectedItem = null
            this.category = value
            let predicate
            if (value === 60) predicate = e => e.slot === 6 && e.isProp
            else if (value === 6) predicate = e => e.slot === 6 && !e.isProp
            else predicate = e => e.slot === value
            this.shopClothes = clothes.filter(e => predicate(e))
            mp.trigger(Events.CS_RESET_CLOTHES)
            mp.trigger(Events.CS_MOVE_CAMERA, value)
        },

        // Поворот персонажа
        setHeading(value) {
            mp.trigger(Events.CS_ROTATE, value)
        },

        // Обработчик выбора вещи
        selectItem(item) {
            if (this.selectedItem === item) return
            this.selectedItem = item
            this.selectedItem.texture = 0
            if (this.category === 1)
                mp.trigger(Events.CS_MOVE_CAMERA, this.category, this.selectItem.slot)
            this.previewItem()
        },

        // Смена текстуры одежды
        changeTexture(index) {
            this.selectedItem.texture = this.selectedItem.textures[index]
            this.$forceUpdate()
            this.previewItem()
        },

        // Предпросмотр элемента одежды
        previewItem() {
            mp.trigger(Events.CS_PREVIEW_GOOD, JSON.stringify(this.selectedItem))
        },

        // Обработчик покупки / одевания
        onBuy() {
            if (!this.isOpen || this.selectedItem === null) return
            let hasItem = this.hasItem(this.selectedItem)
            mp.trigger(Events.CALL_REMOTE, Events.CS_BUY, JSON.stringify(this.selectedItem), hasItem)
        },

        // Подтверждение покупки выбранного элемента одежды
        confirmPurchase() {
            let item = this.selectedItem
            let existingItem = this.playersClothes.find(e => e.slot === item.slot && e.drawable === item.drawable && e.isProp === item.isProp)
            if (existingItem)
                existingItem.textures.push(item.texture)
            else {
                let newItem = {...item}
                newItem.textures = [item.texture]
                this.playersClothes.push(newItem)
            }
            this.showResultMessage(false)
            this.$forceUpdate()
        },

        // Обработчик выхода из примерочной
        onExit() {
            if (!this.isOpen) return
            this.isOpen = false
            this.selectedItem = null
            mp.trigger(Events.CS_LEAVE_DR)
        },

        // Проверяет, куплена ли данная вещь
        hasItem(item) {
            if (item.price === 0) return true
            if (this.playersClothes.length === 0) return false
            let goods = this.playersClothes.filter(e => e.slot === item.slot && e.drawable === item.drawable && e.isProp === item.isProp)            
            if (goods && item.torso !== undefined) goods = goods.filter(e => e.torso === item.torso)
            if (goods && item.undershirt !== undefined) goods = goods.filter(e => e.undershirt === item.undershirt)
            if (goods.length === 0) return false
            const texture = item === this.selectedItem ? this.selectedItem.texture : 0
            return goods[0].textures.includes(texture)
        },

        // Возвращает локализованное название категории
        getCategoryName() {
            const categoryValue = `category_${this.category}`
            return this.getLocale('clothes', categoryValue)
        },

        // Возвращает текстовое значение кнопки
        getButtonText() {
            const item = this.selectedItem
            return item !== null && this.hasItem(item) 
                ? this.getLocale('button', 'dress') 
                : this.getLocale('radialMenu', 'buy')
        },

        // Показывает сообщение о нехватке денег
        showResultMessage(isError) {
            if (this.msgTimerId !== -1) 
                clearTimeout(this.msgTimerId)
            this.isErrorMsg = isError
            this.message = isError 
                ? this.getLocale('player', 'noMoney')
                : `${this.getLocale('player', 'gotPurchase')}: ${this.getLocale('clothes', this.selectedItem.name)}`
            this.msgTimerId = setTimeout(() => this.message = '', 5000)
        },

        // Возвращает локализованную строку
        getLocale(key, value) {
            return locale(key, value, this.lang)
        }
    },
    created() {
        EventManager.on(Events.CS_ENTER_DR, this.show)
        EventManager.on(Events.CS_CONFIRM_PURCHASE, this.confirmPurchase)
        EventManager.on(Events.CS_NO_MONEY, () => this.showResultMessage(true))
    }
}
</script>
