<template>
    <ul class="alerts-list">
        <li class="alert" v-for="alert in alerts" :key="alert.id">
            <p :class="[`alert-line ${alert.type}`]">{{ getTitle(alert.type) }}</p>
            <p class="alert-message">{{ alert.message }}</p>
        </li>
    </ul>
</template>

<script>
import '../../styles/notifications/alert.scss'

import { SHOW_ALERT } from '../../../../global/constants/ServerEvents'
import { locale } from '../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            alerts: []
        }
    },
    methods: {
        // добавляет предупреждение
        addAlert(args) {            
            let alertInfo = {
                id: this.getId(),
                type: args[0],
                message: args[1]
            }
            this.alerts.push(alertInfo)
            this.sortAlerts()
            setTimeout(() => this.removeAlert(alertInfo.id), args[2])
        },

        // удаляет предупреждение
        removeAlert(id) {
            let index = this.alerts.findIndex(a => a.id == id)
            this.alerts.splice(index, 1)
            this.sortAlerts()
        },

        // возвращает сл. идентификатор
        getId() {
            let maxId = this.alerts.length > 0 ? Math.max(...this.alerts.map(e => e.id)) : 0
            return maxId + 1
        },

        // сортирует предупреждения
        sortAlerts() {
            this.alerts.sort((a, b) => b.id - a.id)
        },

        // возвращает тип в нужной локализации
        getTitle(type) {            
            return locale('basic', type, this.lang)
        }
    },
    created() {
        EventManager.on(SHOW_ALERT, this.addAlert)
    }
}
</script>
