<template>
    <div :class="{hint: true, active: isOpen, inactive: !isOpen}">
        <p class="target">{{ target }}</p>
        <p class="message">{{ message }}</p>
    </div>
</template>

<script>
import '../../styles/notifications/hint.scss'

import { SHOW_HINT, HIDE_HINT } from '../../../../global/constants/ServerEvents'
import { locale } from '../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            isOpen: false,
            target: '',
            message: ''
        }
    },
    methods: {
        // показывает подсказку
        show(args) {            
            this.target = args[0]
            if (this.target.length <= 0) {
                this.target = locale('hint', 'header', this.lang)
            }
            this.message = args[1]            
            let duration = args[2]
            this.isOpen = true            
            if (duration > 0) setTimeout(this.hide, duration)               
        },

        // скрывает подсказку
        hide() {
            this.isOpen = false
        }
    },
    created() {
        EventManager.on(SHOW_HINT, this.show)
        EventManager.on(HIDE_HINT, this.hide)
    }
}
</script>
