@import "../templates.scss";

.hud {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    
    font-family: $HelveticaRoman;

    &.inactive {display: none;}

    .money {
        position: absolute;
        top: calc(20px + 5vh);
        right: 1vw;
        color: $white;
        text-shadow: 1px 1px 2px $black;

        font: {
            family: $HelveticaBold;
            weight: bolder;
            size: calc(16px + 1vw);
        }

        p {
            letter-spacing: 1px;
            i {
                color: $blue;
                padding-right: 0.5vw;
            }
            &.bank {
                font-size: calc(12px + .5vw);
                i {font-size: calc(10px + .3vw);}
            }
            &.gift {
                margin-top: 1vh;
                text-align: center;                
                font-size: calc(13px + .5vw);
                i {
                    color: $aqua;
                    font-size: calc(12px + .3vw);
                }
            }
        }
    }
    
    .hot-keys {
        position: absolute;
        bottom: 37.5vh;
        left: 0;
        width: 3vw;
        min-width: 50px;

        p {
            padding: 0.5vh 0.6vw;
            margin: 1vh 0;

            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            background-color: $darkgray;
            color: $white;

            span {font-size: 0.9em;}
            i {
                display: block;
                float: right;
            }
        }
    }
    
    .stats {
        position: absolute;
        min-width: 150px;
        bottom: calc(130px + 15vh);
        right: 1vw;
        
        color: $white;
        text-shadow: 1px 1px 2px $black;
        
        .level-info, .satiety-info {padding-bottom: 1vh;}
        .level-info, .satiety-info, .thirst-info {
            span {
                display: block;
                float: right;
                color: $blue;
            }
        }
        @extend .progress-bar;
    }

    .other {
        position: absolute;
        min-width: 150px;
        bottom: 4vh;
        left: 19vw;
        text-align: center;

        color: $white;
        text-shadow: 1px 1px 2px $black;

        .time {
            font-size: calc(12px + .5vw);
            padding-bottom: 1vh;
        }

        .street {
            color: $blue;
            font-size: calc(14px + .4vw);
            font-family: $HelveticaBold;
            letter-spacing: 1px;
        }
    }
}