@import "../templates.scss";

.timer {
    width: 20%;
    margin: 2vh auto 0;
    transition: 0.3s;    
    text-align: center;

    opacity: 0;
    &.active {opacity: 1;}

    .time {        
        font: {
            family: $HelveticaBold;
            size: calc(14px + 1.5vw);
        }
        &.danger {color: $red;}
        color: $white;
        text-shadow: 1px 1px 1px $black;
    }

    .label {
        color: $blue;
        font: {
            family: $HelveticaLight;
            size: calc(12px + 1vw);
        }
        
    }
}