@import "../templates.scss";

.vehicleHud {
    @extend .toggle-behavior;
    position: fixed;
    bottom: calc(50px + 15vh);
    right: 1vw;
    min-width: 150px;
    min-height: 60px;

    font-family: $HelveticaRoman;

    .speed, .fuel {
        color: $white;
        text-shadow: 1px 1px 2px $black;
        
        span {
            display: block;
            float: right;
            color: $blue;
        }

        @extend .progress-bar;
    }

    .fuel {margin-top: 1vh;}
}