/*
** Общие стили, переменные шрифтов, цветов и тд.
*/

@font-face {
    font-family: 'HelveticaCyrLight';
    src: url('/fonts/HelveticaNeueCyr-Light.ttf');
}

@font-face {
    font-family: 'HelveticaCyrBold';
    src: url('/fonts/HelveticaNeueCyr-Bold.ttf');
}

@font-face {
    font-family: 'HelveticaCyrRoman';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf');
}

$HelveticaLight: 'HelveticaCyrLight', sans-serif;
$HelveticaBold: 'HelveticaCyrBold', sans-serif;
$HelveticaRoman: 'HelveticaCyrRoman', sans-serif;

$blue: #4e9ded;
$darkgray: #313131;
$gray: #8e8e8e;
$white: #ffffff;
$black: #2f2f29;
$black-tr: rgba(47, 47, 41, .9);
$aqua: #0ea5a5;
$red: #c2483f;
$green: rgb(6, 124, 6);
$orange: orange;

// Позицонирование по центру
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.toggle-behavior {
    transition: 0.4s;
    &.active {opacity: 1; z-index: 1}
    &.inactive {opacity: 0; z-index: -1;}
}

// Базовые стили для всех окон
.base-view-behavior {
    @extend .toggle-behavior;
    background-color: $black-tr;
    box-shadow: 1px 1px 10px $black;
    border-radius: 30px;
}

// Базовые стили для всех боковых панелей
.side-panel-behavior {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    background-color: $black;
    transition: 0.75s;

    &.active {        
        opacity: 1; 
        z-index: 10;
    }
    &.inactive {
        opacity: 0; 
        z-index: -1;
    }
    &.inactiveSlide {
        transform: translateX(999px);
        opacity: 0; 
        z-index: -1;
    }
}

// Общие стили кнопки
.button {
    display: block;
    margin: 0 auto;
    padding: 1vh 1vw;
    outline: none;
    border: none;
    border-radius: 10px;

    color: $white;
    font-size: calc(12px + .5vw);
    background-color: $blue;
    &:hover {
        background-color: lighten($blue, 10%);
    }
}

// Общие стили поля ввода
.input {
    width: 80%;
    padding: .4vh .5vw;
    outline: none;
    border: none;
    border-radius: 15px;
    color: $blue;
    font-size: calc(12px + .3vw);
}

// Добавляет скроллинг к элементу
.scroll-behavior {
    overflow: auto;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(30, 30, 30, 0.3);
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px $blue;
        background-color: $black;
    }
}

// Прогресс бар
.progress-bar {
    .progress {        
        width: 100%;
        height: 4px;
        padding: 1px;
        margin-top: 2px;
        border-radius: 1em;
        background-color: $darkgray;
        
        .progress-bar {
            background-color: $blue;
            height: inherit;
            border-radius: inherit;
            width: 0%;
            transition: 1s;
        }
    }
}