<template>
    <div v-if="lang != ''">
        <auth-window :lang="lang" />
        <char-creation :lang="lang" />
        <hud :lang="lang" />
        <radial-menu :lang="lang" />
        <alert :lang="lang" />
        <hint :lang="lang" />
        <dialogue :lang="lang" />
        <theory-exam :lang="lang" />
        <admin-window />
        <taxi-order :lang="lang" />
        <sidebars :lang="lang" />
        <clothes-shop :lang="lang" />
    </div>
</template>

<script>
import '../styles/app.scss'

import { SET_LANG } from '../../../global/constants/ServerEvents'

import AuthWindow from './windows/AuthWindow.vue'
import CreationWindow from './windows/charCreation/CreationWindow.vue'
import MainHUD from './hud/MainHUD.vue'
import Menu from './radialMenu/Menu.vue'
import Alert from './notifications/Alert.vue'
import Hint from './notifications/Hint.vue'
import Dialogue from './notifications/Dialogue.vue'
import DrivingTheoryExam from './windows/DrivingTheoryExam.vue'
import AdminWindow from './windows/AdminWindow.vue'
import ClothesShop from './windows/clothesShop/ClothesShop.vue'
import TaxiOrderInfo from './windows/jobs/TaxiOrderInfo.vue'
import BaseSidebar from './sidebars/BaseSidebar.vue'

export default {
    components: {
        'auth-window': AuthWindow,
        'char-creation': CreationWindow,
        'hud': MainHUD,
        'radial-menu': Menu,
        'alert': Alert,
        'hint': Hint,
        'dialogue': Dialogue,
        'theory-exam': DrivingTheoryExam,
        'admin-window': AdminWindow,
        'taxi-order': TaxiOrderInfo,
        'sidebars': BaseSidebar,
        'clothes-shop': ClothesShop,
    },
    data() {
        return {
            lang: 'ru'
        }
    },
    methods: {
        setLang(args) {
            this.lang = args[0]
        }
    },
    created() {
        EventManager.on(SET_LANG, this.setLang)
    }
}
</script>