<template>
    <div :class="{hud: true, inactive: !isOpen}">
        <timer />
        <vehicle-hud />

        <div class="money">
            <p class="cash"><i class="fas fa-dollar-sign"></i>{{ toMoney(animatedMoney) }}</p>
            <p class="bank"><i class="fas fa-money-check"></i>{{ toMoney(animatedBank) }}</p>
            <p class="gift"><i class="fas fa-gift"></i>{{ getPrettyTime(giftTime) }}</p>
        </div>

        <div class="hot-keys">
            <p><span>I</span><i class="fas fa-user"></i></p>
            <p><span>P</span><i class="fas fa-mobile"></i></p>
            <p><span>J</span><i class="fas fa-question-circle"></i></p>
            <p>
                <span>N</span>
                <i class="fas fa-microphone" :style="{color: microActive ? '#4e9ded': '#8e8e8e'}"></i>
            </p>            
        </div>

        <div class="stats">
            <div class="level-info">
                <p><i class="fas fa-user-tie"></i><span class="level">{{ lvl }}</span></p>
                <div class="progress" id="exp-progress">
                    <div class="progress-bar" :style="{width: `${exp}%`}"></div>
                </div>
            </div>
            <div class="satiety-info">
                <p><i class="fas fa-drumstick-bite"></i><span class="satiety">{{ satiety }} / 100</span></p>
                <div class="progress" id="satiety-progress">
                    <div class="progress-bar" :style="{width: `${satiety}%`}"></div>
                </div>
            </div>
            <div class="thirst-info">
                <p><i class="fas fa-tint"></i><span class="thirst">{{ thirst }} / 100</span></p>
                <div class="progress" id="thirst-progress">
                    <div class="progress-bar" :style="{width: `${thirst}%`}"></div>
                </div>
            </div>
        </div>

        <div class="other">
            <p class="time">{{ time().format('LT') }}</p>
            <p class="street">{{ streetName }}</p>
        </div>
    </div>    
</template>

<script>
import '../../styles/hud/mainHud.scss'

import { bus } from '../'
import { KEY_PRESSED } from '../constants/BusEvents'
import * as Events from '../../../../global/constants/ServerEvents'
import { locale } from '../../../../global/Locale'
import moment from 'moment'

import Timer from './Timer.vue'
import VehicleHUD from './VehicleHUD.vue'

export default {
    props: ['lang'],
    components: {
        'timer': Timer,
        'vehicle-hud': VehicleHUD
    },
    data() {
        return {
            isOpen: false,
            microActive: false,
            giftTime: 0,
            giftState: 0,
            giftTimesByState: {1: 300, 2: 900, 3: 3600},            
            streetName: '',
            time: moment,

            // Просматриваемые значения для анимирования основных
            tweenMoney: 0,
            tweenBank: 0,

            money: 0,
            bank: 0,
            lvl: 1,
            exp: 0,
            satiety: 0,
            thirst: 0
        }
    },
    methods: {
        // Показывает худ
        showHUD() {
            this.isOpen = true
            this.setGiftTimer()
            setInterval(this.hudTick, 1000)
        },

        // Обновляет данные в худе
        updateHUD(args) {
            this.tweenMoney = args.money
            this.tweenBank = args.bank
            this.lvl = args.level
            this.exp = args.exp
            this.satiety = args.satiety
            this.thirst = args.thirst
        },

        // Устанавливает таймер подарка
        setGiftTimer() {
            this.giftState = this.giftState < 3 ? this.giftState + 1 : 3
            this.giftTime = this.giftTimesByState[this.giftState]
        },

        // Устанавливает название улицы
        setStreet(args) {
            this.streetName = args[0]
        },
        
        // Обработчик одного тика таймера
        hudTick() {
            if (this.giftTime === 0) return
            this.giftTime -= 1
            if (this.giftTime === 0)
                mp.trigger(Events.CALL_REMOTE, Events.GIVE_GIFT, this.giftState)
        },

        // Форматирует сумму в удобочитаемую строку
        toMoney(value) {
            return parseInt(value).toLocaleString('ru-RU', {maximumFractionDigits: 0})
        },

        // Возвращает время в красивом формате
        getPrettyTime(time) {
            var seconds = time % 60 
            var minutes = (time - seconds) / 60
            var isTwoDigit = 9 < seconds
            return this.getDigitForm(minutes) + ':' + this.getDigitForm(seconds)
        },

        // Форматирует число в двузначное представление
        getDigitForm(num) {
            const maxOneDigit = 9;
            return maxOneDigit < num ? num : '0' + num
        },

        // Возвращает локализованную строку
        getLocale(key, value) {
            return locale(key, value, this.lang)
        }
    },
    computed: {
        animatedMoney() {return this.money.toFixed(0)},
        animatedBank() {return this.bank.toFixed(0)}
    },
    watch: {
        tweenMoney(newValue) {
            TweenLite.to(this.$data, 0.75, { money: newValue });
        },
        tweenBank(newValue) {
            TweenLite.to(this.$data, 0.75, { bank: newValue });
        }
    },
    created() {
        EventManager.on(Events.SHOW_HUD, this.showHUD)
        EventManager.on(Events.UPDATE_HUD, this.updateHUD)
        EventManager.on(Events.HUD_SET_MICRO, args => this.microActive = args[0])
        EventManager.on(Events.SET_GIFT_TIMER, this.setGiftTimer)
        EventManager.on(Events.HUD_SET_STREET, this.setStreet)
        EventManager.on(Events.HUD_TOGGLE, () => this.isOpen = !this.isOpen)
    }
}
</script>
