<template>
    <div :class="{timer: true, active: isOpen}">
        <p :class="{time: true, danger: time < 10}">{{ time }}</p>
        <p class="label" v-if="label.length > 0">{{ label }}</p>
    </div>
</template>

<script>
import '../../styles/hud/timer.scss'

import * as Events from '../../../../global/constants/ServerEvents'

export default {
    data() {
        return {
            isOpen: false,
            timerId: -1,
            time: 0,
            callback: '',
            label: ''
        }
    },
    methods: {
        // Заводит таймер
        setTimer(args) {
            this.time = args[0]
            this.callback = args[1]
            this.label = args[2].toLowerCase()
            this.isOpen = true
            this.timerId = setInterval(this.timerTick, 1000)
        },

        // Сбрасывает текущий таймер
        resetTimer() {
            clearInterval(this.timerId)
            this.time = 0
            this.callback = this.label = ''
            this.isOpen = false
        },

        // Обработчик одного тика таймера
        timerTick() {
            if (this.time <= 0) return
            this.time -= 1
            if (this.time <= 0) {
                this.onTimeOut()
            }
        },

        // Обработчик завершения времени
        onTimeOut() {
            mp.trigger(Events.CALL_REMOTE, this.callback)
            this.resetTimer()
        }
    },
    created() {
        EventManager.on(Events.SET_TIMER, this.setTimer)
        EventManager.on(Events.RESET_TIMER, this.resetTimer)
    }
}
</script>
