<template>
    <div :class="{vehicleHud: true, active: isOpen, inactive: !isOpen}">
        <div class="speed">
            <p><i class="fas fa-tachometer-alt"></i><span>{{ speed }} km/h</span></p>
            <div class="progress" id="satiety-progress">
                <div class="progress-bar" :style="{width: `${speedPercent}%`}"></div>
            </div>
        </div>
        <div class="fuel" v-if="fuel !== null">
            <p><i class="fas fa-gas-pump"></i><span>{{ fuel }} L</span></p>
            <div class="progress" id="thirst-progress">
                <div class="progress-bar" :style="{width: `${fuelPercent}%`}"></div>
            </div>
        </div>
    </div>    
</template>

<script>
import '../../styles/hud/vehicleHud.scss'

import * as Events from '../../../../global/constants/ServerEvents'

export default {
    data() {
        return {
            isOpen: false,
            speed: 0,
            speedPercent: 0,
            fuel: null,
            fuelPercent: 0
        }
    },
    methods: {
        // Обновляет информацию о пар-ах траспорта
        updateData(args) {
            this.speed = args.speed
            this.fuel = args.fuel
            this.speedPercent = this.speed / 2.5
            if (this.fuel)
                this.fuelPercent = this.fuel / (args.fuelTank / 100)
        }
    },
    created() {
        EventManager.on(Events.HUD_TOGGLE_VEHICLE, args => this.isOpen = args[0])
        EventManager.on(Events.HUD_UPDATE_VEHICLE, this.updateData)
    }
}
</script>
