<template>
    <div>
        <div v-if="state === 0">
            <menu-item v-bind:value="locale('shop')" type="fa fa-shopping-basket" v-on:itemClick="openShop" />
            <menu-item v-bind:value="locale('job')" type="fa fa-user-circle" v-on:itemClick="() => changeState(1)" />
        </div>
        <div v-else>
            <menu-item v-bind:value="locale('job')" type="fa fa-user-circle" v-on:itemClick="onJob" />
            <menu-item v-bind:value="locale('salary')" type="fas fa-money-bill-alt" v-on:itemClick="onSalary" />
            <menu-item v-bind:value="locale('back')" type="fa fa-chevron-left" v-on:itemClick="() => changeState(0)" class="back" />
        </div>
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import * as Events from '../../../../../global/constants/ServerEvents'

export default {
    props: ['locale'],
    components: {
        'menu-item': MenuItem
    },
    data() {
        return {
            state: 0
        }
    },
    methods: {
        // Открыть окно закусочной
        openShop() {
            mp.trigger(Events.SHOW_SIDEBAR, Events.BISTRO_SHOW, JSON.stringify({}))
        },

        // Начало работы курьером
        onJob() {
            mp.trigger(Events.CALL_REMOTE, Events.COURIER_WORK)
        },

        // Получение зарплаты
        onSalary() {
            mp.trigger(Events.CALL_REMOTE, Events.COURIER_SALARY)
        },

        // Измениние вложенности меню
        changeState(value) {
            this.state = value
        }
    }
}
</script>
