<template>
    <div>
        <menu-item v-bind:value="locale('clothes')" type="fa fa-shopping-bag" v-on:itemClick="enterDressingRoom" />
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import { CALL_REMOTE, CS_ENTER_DR } from '../../../../../global/constants/ServerEvents'

export default {
    props: ['locale', 'data'],
    components: {
        'menu-item': MenuItem
    },
    methods: {
        enterDressingRoom() {
            mp.trigger(CALL_REMOTE, CS_ENTER_DR)
        }
    }
}
</script>
