<template>
    <div v-if="state == 0">
        <menu-item :value="locale('theory')" type="fa fa-id-card" v-on:itemClick="onTheory" />
        <menu-item :value="`${locale('category')} B`" type="fa fa-car" v-on:itemClick="onPractice(licenses.light)" />
        <menu-item :value="`${locale('category')} C`" type="fa fa-truck" v-on:itemClick="onPractice(licenses.heavy)" />
        <menu-item :value="locale('buy')" type="fas fa-money-bill-alt" v-on:itemClick="changeState(1)" class="money" />
    </div>
    <div v-else>
        <menu-item :value="`${locale('buy')} B`" type="fas fa-money-bill-alt" v-on:itemClick="buyLicense(licenses.light)" />
        <menu-item :value="`${locale('buy')} C`" type="far fa-money-bill-alt" v-on:itemClick="buyLicense(licenses.heavy)" />
        <menu-item :value="locale('back')" type="fa fa-chevron-left" v-on:itemClick="changeState(0)" class="back" />
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import * as Events from '../../../../../global/constants/ServerEvents'
import LicenseType from '../../../../../global/enums/LicenseType'

export default {
    props: ['locale'],
    components: {
        'menu-item': MenuItem
    },
    data() {
        return {
            state: 0,
            licenses: {
                light: LicenseType.lightVehicle,
                heavy: LicenseType.heavyVehicle,
                water: LicenseType.waterVehicle,
                air: LicenseType.airVehicle
            }
        }
    },
    methods: {
        onTheory() {
            mp.trigger(Events.CALL_REMOTE, Events.START_THEORY_EXAM)
        },
        onPractice(type) {
            mp.trigger(Events.CALL_REMOTE, Events.START_PRACTICE_EXAM, type)
        },        
        buyLicense(type) {
            mp.trigger(Events.CALL_REMOTE, Events.BUY_LICENSE, type)
        },
        changeState(value) {
            this.state = value
        }
    }
}
</script>
