<template>
    <div>
        <menu-item v-bind:value="locale('fuel')" type="fas fa-gas-pump" v-on:itemClick="onFuel" />
        <menu-item v-bind:value="locale('shop')" type="fas fa-shopping-basket" v-on:itemClick="onShop" />
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import { SHOW_SIDEBAR, FS_SHOW, FS_SHOW_SHOP } from '../../../../../global/constants/ServerEvents'

export default {
    props: ['locale', 'data'],
    components: {
        'menu-item': MenuItem
    },
    methods: {
        // Выбор окна заправки
        onFuel() {
            mp.trigger(SHOW_SIDEBAR, FS_SHOW, JSON.stringify(this.data))
        },

        // Выбор окна магазина
        onShop() {
            mp.trigger(SHOW_SIDEBAR, FS_SHOW_SHOP, JSON.stringify({}))
        }
    }
}
</script>
