<template>
    <div>
        <menu-item v-bind:value="locale('job')" type="fas fa-user-circle" v-on:itemClick="onJob" />
        <menu-item v-bind:value="locale('salary')" type="fas fa-money-bill-alt" v-on:itemClick="onSalary" />
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import { CALL_REMOTE } from '../../../../../global/constants/ServerEvents'

export default {
    props: ['locale', 'data'],
    components: {
        'menu-item': MenuItem
    },
    methods: {
        onJob() {
            mp.trigger(CALL_REMOTE, this.data.startWork)
        },
        onSalary() {
            mp.trigger(CALL_REMOTE, this.data.getSalary)
        }
    }
}
</script>
