<template>
    <div>
        <menu-item v-bind:value="locale('job')" type="fa fa-user-circle" v-on:itemClick="onJob" />
        <menu-item v-bind:value="locale('rent')" type="fa fa-truck" v-on:itemClick="rentTruck" />
        <menu-item v-bind:value="locale('contracts')" type="fa fa-file-contract" v-on:itemClick="showContracts" />
        <menu-item v-bind:value="locale('salary')" type="fas fa-money-bill-alt" v-on:itemClick="onSalary" />
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import * as Events from '../../../../../global/constants/ServerEvents'

export default {
    props: ['locale', 'data'],
    components: {
        'menu-item': MenuItem
    },
    methods: {
        // Начать работу дальнобойщиком
        onJob() {
            mp.trigger(Events.CALL_REMOTE, Events.TRUCKER_WORK)
        },

         // Арендовать фуру
        rentTruck() {
            // todo
        },

        // Показать контракты
        showContracts() {
            mp.trigger(Events.SHOW_SIDEBAR, Events.SHOW_DELIVERY_CONTRACTS, JSON.stringify(this.data));
        },

        // Получить зарплату
        onSalary() {
            mp.trigger(Events.CALL_REMOTE, Events.TRUCKER_SALARY)
        }
    }
}
</script>