<template>
    <div>
        <menu-item :value="locale('bicycle')" type="fa fa-bicycle" v-on:itemClick="() => onClick(0)" />
        <menu-item :value="locale('scooter')" type="fa fa-motorcycle" v-on:itemClick="() => onClick(1)" />
        <menu-item :value="locale('moto')" type="fa fa-motorcycle" v-on:itemClick="() => onClick(2)" />
        <menu-item :value="locale('car')" type="fa fa-car" v-on:itemClick="() => onClick(3)" />
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import * as Events from '../../../../../global/constants/ServerEvents'

export default {
    props: ['locale'],
    components: {
        'menu-item': MenuItem
    },
    methods: {
        onClick(type) {
            mp.trigger(Events.CALL_REMOTE, Events.RENT_VEHICLE, type)
        }
    }
}
</script>
