<template>
    <div>
        <menu-item v-bind:value="locale('engine')" type="fa fa-cogs" v-on:itemClick="() => onClick(events.toggleEngine)" />
        <menu-item v-bind:value="locale('doors')" type="fa fa-unlock-alt" v-on:itemClick="() => onClick(events.toggleLock)" />
        <menu-item v-bind:value="locale('trunk')" type="fa fa-suitcase" v-on:itemClick="() => onClick('')" />
    </div>
</template>

<script>
import MenuItem from '../MenuItem.vue'
import * as Events from '../../../../../global/constants/ServerEvents'
import { locale } from '../../../../../global/Locale'

export default {
    props: ['locale'],
    components: {
        'menu-item': MenuItem
    },
    data() {
        return {
            events: {
                toggleEngine: Events.TOGGLE_ENGINE, 
                toggleLock: Events.TOGGLE_LOCK
            }
        }
    },
    methods: {
        onClick(eventName) {
            mp.trigger(Events.CALL_REMOTE, eventName)
        },
        getLocale(value) {
            return locale('radialMenu', value, this.lang)
        }
    }
}
</script>
