<template>
    <div class="sidebar">
        <delivery-contracts :lang="lang" />
        <filling :lang="lang" />
        <filling-shop :lang="lang" />
        <bistro :lang="lang" />
    </div>
</template>

<script>
import DeliveryContracts from './DeliveryContracts.vue'
import FillingSidebar from './fillingStation/FillingSidebar.vue'
import FillingShopSidebar from './fillingStation/FillingShopSidebar.vue'
import BistroSidebar from './bistro/BistroSidebar.vue'

export default {
    props: ['lang'],
    components: {
        'delivery-contracts': DeliveryContracts,
        'filling': FillingSidebar,
        'filling-shop': FillingShopSidebar,
        'bistro': BistroSidebar,
    }
}
</script>
