<template>
    <div :class="{sidebar: true, deliveryContracts: true, active: isOpen, inactiveSlide: !isOpen}">
        <header>
            <h1>{{ getTitle() }}</h1>
        </header>
        <section>
            <ul>
                <li v-for="(contract, i) in contracts" :key="i" v-on:click="onSelect(i)">
                    <p class="contract-name">{{ getName(contract.type) }}</p>
                    <p class="contract-reward">{{ contract.reward }}$</p>
                </li>
            </ul>
        </section>
        <i class="hide-button fa fa-arrow-circle-right" v-on:click="hide" />
    </div>
</template>

<script>
import '../../styles/sidebars/deliveryContracts.scss'

import { bus } from '../'
import { KEY_PRESSED } from '../constants/BusEvents'
import * as Events from '../../../../global/constants/ServerEvents'
import DeliveryContractType from '../../../../global/enums/DeliveryContractType'
import { locale } from '../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            isOpen: false,
            contractNames: {
                [DeliveryContractType.Corn]: 'corn',
                [DeliveryContractType.Crude]: 'crude',
                [DeliveryContractType.Tools]: 'tools',
                [DeliveryContractType.WorkshopWood]: 'worksWood',
                [DeliveryContractType.BuildingsWood]: 'buildWood',
                [DeliveryContractType.Dyes]: 'dyes',
                [DeliveryContractType.Fuel]: 'fuel',
                [DeliveryContractType.Products]: 'products',
                [DeliveryContractType.ScrapMetal]: 'scrapMetal',
                [DeliveryContractType.Crop]: 'crop',
                [DeliveryContractType.MechanicalDrawings]: 'mechDrawings',
                [DeliveryContractType.Fertilizer]: 'fertilizer',
                [DeliveryContractType.MilitaryEquipment]: 'militaryEquip',
                [DeliveryContractType.CollectedPrototypes]: 'prototypes',
                [DeliveryContractType.MilitaryReports]: 'militaryReports'
            },
            contracts: [],
            callback: ''
        }
    },
    methods: {
        // Показывает список контрактов
        show(args) {            
            this.contracts = args.contracts
            this.callback = args.selectCallback
            this.isOpen = true
        },

        // Скрывает сайдбар
        hide() {
            this.isOpen = false
            mp.trigger(Events.HIDE_SIDEBAR)
        },

        // Обработчик выбора контракта
        onSelect(index) {
            const contract = this.contracts[index]
            mp.trigger(Events.CALL_REMOTE, this.callback, JSON.stringify(contract))
            this.hide()
        },

        // Возвращает локализированный заголовок сайдбара
        getTitle() {
            return locale('radialMenu', 'contracts', this.lang)
        },

        // Возвращает название контракта по его типу
        getName(type) {
            const value = this.contractNames[type]            
            return locale('contracts', value, this.lang)
        }
    },
    created() {
        EventManager.on(Events.SHOW_DELIVERY_CONTRACTS, this.show)
    }
}
</script>