@import "../templates.scss";

.alerts-list {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    left: 2%;
    bottom: 25%;
    width: 14%;
    height: 50%;

    font-family: $HelveticaRoman;

    .alert {
        @extend .base-view-behavior;
        height: 17%;
        margin-top: 1vh;

        border-radius: 0;
        list-style: none;

        .alert-line {
            height: 20%;
            padding-left: 10%;
            margin-top: 1.2vh;

            color: $white;
            font-size: 0.73vw;

            &.info {background-color: $blue;}
            &.success {background-color: $green;}
            &.warning {background-color: $orange;}
            &.error {background-color: $red;}
        }

        .alert-message {
            width: 90%;
            margin: 0 auto;
            padding-top: .8vh;

            text-align: center;
            color: $gray;
            font-size: .85vw;
        }
    }
}