@import '../templates.scss';

.dialog {
    @extend .base-view-behavior;
    @extend .absolute-center;
    width: 30%;
    height: 35%;
    min-width: 380px;
    min-height: 250px;

    font-family: $HelveticaRoman;

    section {
        position: relative;
        width: 100%;
    }

    .dialog-question {        
        height: 25%;

        background-color: $aqua;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        h1 {
            padding-top: 3vh;

            text-align: center;
            color: $white;
            font-size: calc(14px + .5vw)
        }
    }

    .dialog-info {
        height: 50%;

        p {
            text-align: center;
            width: 70%;
            margin: 0 auto;
            padding-top: 7vh;

            color: $gray;
            font-size: calc(12px + .4vw);            
        }
    }
    
    .dialog-buttons {
        height: 25%;
        margin: 0 auto;

        button {
            @extend .button;
            position: absolute;

            &.dialog-accept {
                left: 20%;
            }
            &.dialog-decline {
                right: 20%;
                background-color: $gray;
                &:hover {background-color: lighten($gray, 10%);}
            }            
        }
    }
}