@import '../templates.scss';

.hint {
    @extend .base-view-behavior;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 20vw;
    min-width: 215px;
    height: 75px;

    background-color: $black-tr;
    border-radius: 10px;
    color: $white;
    
    p {
        &.target {
            margin: 10px 0 3px 15px;
            font-family: $HelveticaBold;
            color: $blue;
        }
        &.message {
            text-align: center;
            margin-top: 1vh;
            font: {
                family: $HelveticaLight;  
                size: calc(12px + .3vw);
            }
        }
    }
}