<template>
    <div :class="{adminWindow: true, active: isOpen, inactive: !isOpen}">
        <h1>Админка</h1>

        <button v-on:click="() => clickButton(events.LOG_POSITION)">Позиция</button>
        <button v-on:click="() => clickButton(events.CREATE_VEHICLE)">Транспорт</button>
        <button v-on:click="() => clickButton(events.GIVE_WEAPON)">Оружие</button>
        <button v-on:click="() => clickButton(events.TEST)" class="test-btn">TEST</button>

        <div class="teleport">
            <p>Телепорт:</p>
            <div>
                <label for="x">X: </label>
                <input id="x" type="number" v-bind:value="tp.x" v-on:change="(e) => onTpCoordChange('x', e.target.value)" />
            </div>
            <div>
                <label for="y">Y: </label>
                <input id="y" type="number" v-bind:value="tp.y" v-on:change="(e) => onTpCoordChange('y', e.target.value)" />
            </div>
            <div>
                <label for="z">Z: </label>
                <input id="z" type="number" v-bind:value="tp.z" v-on:change="(e) => onTpCoordChange('z', e.target.value)" />
            </div>
            <button v-on:click="onTeleport">TP</button>
        </div>
    </div>
</template>

<script>
import '../../styles/windows/adminWindow.scss'

import {
    CALL_REMOTE,
    TOGGLE_ADMIN_WINDOW,
    LOG_POSITION,
    CREATE_VEHICLE,
    GIVE_WEAPON,
    TELEPORT,
    TEST
} from '../../../../global/constants/ServerEvents'

export default {
    data() {
        return {
            isOpen: false,
            value: 0,
            events: {
                LOG_POSITION,
                CREATE_VEHICLE,
                GIVE_WEAPON,
                TEST
            },
            tp: {
                x: '', y: '', z: ''
            }
        }
    },
    methods: {
        toggle(args) {
            this.isOpen = args[0]
        },
        clickButton(nameEvent) {
            if (!this.isOpen) return
            mp.trigger(CALL_REMOTE, nameEvent)
        },
        onTeleport() {
            if (!this.isOpen) return
            mp.trigger(CALL_REMOTE, TELEPORT, JSON.stringify(this.tp))
        },
        onTpCoordChange(coord, value) {
            this.tp[coord] = parseFloat(value)
        }
    },
    created() {
        EventManager.on(TOGGLE_ADMIN_WINDOW, this.toggle)
    }
}
</script>
