<template>
    <div :class="{auth: true, active: isOpen, inactive: !isOpen}">
        <header :class="{error: errorMessage != ''}">
            <img class="logo" src="images/logo.png" />
            <p class="error-message" v-if="errorMessage != ''">{{ errorMessage }}</p>
            <h1 class="title" v-else>{{ title }}</h1>
        </header>
        <section>
            <ul class="navigation">
                <li v-on:click="changeForm(true)"><i class="fa fa-users"/></li>
                <li v-on:click="changeForm(false)"><i class="fa fa-user-plus"/></li>
            </ul>
            <form class="login" v-if="isLogin">
                <div class="input-group">
                    <label for="login">{{ getLocale('logOrEmail') }}:</label>
                    <input id="login"
                        maxlength="40"
                        v-model="login"
                        v-on:input="e => onLoginInput(e.target.value)"
                    />
                </div>
                <div class="input-group">
                    <label for="pswd">{{ getLocale('pass') }}:</label>
                    <input id="pswd" type="password"
                        maxlength="20"
                        v-model="password"
                        v-on:input="e => onInput(e.target.value, 'pswd')"
                    />
                </div>
                <button :class="{loading: loading}" v-on:click="onLogin">
                    <i class="fa fa-spinner fa-spin fa-1x fa-fw" v-if="loading" />
                    <span v-else>{{ getLocale('enter', 'button') }}</span>
                </button>
            </form>
            <form :class="{register: true, st0: isStage(0), st1: isStage(1)}" v-else>
                <div class="input-group" v-if="isStage(0)">
                    <label for="login">{{ getLocale('log') }}:</label>
                    <input id="login"
                        maxlength="20"
                        v-model="login"
                        v-on:input="e => onLoginInput(e.target.value)"
                    />
                </div>
                <div class="input-group" v-if="isStage(0)">
                    <label for="pswd">{{ getLocale('pass') }}:</label>
                    <input id="pswd" type="password"
                        maxlength="20"
                        v-model="password"
                        v-on:input="e => onInput(e.target.value, 'pswd')"
                    />
                </div>
                <div class="input-group" v-if="isStage(0)">
                    <label for="re-pswd">{{ getLocale('repass') }}:</label>
                    <input id="re-pswd" type="password"
                        maxlength="20"
                        v-model="rePassword"
                        v-on:input="e => onInput(e.target.value, 're-pswd')"
                    />
                </div>
                <div class="input-group" v-if="isStage(1)">
                    <label for="email">{{ getLocale('email') }}: <small>{{ getLocale('opt') }}</small></label>
                    <input id="email" type="email"
                        maxlength="40"
                        v-model="email"
                        v-on:input="e => onInput(e.target.value, 'email')"
                    />
                </div>
                <div class="input-group" v-if="isStage(1)">
                    <label for="ref">{{ getLocale('ref') }}: <small>{{ getLocale('opt') }}</small></label>
                    <input id="ref"
                        maxlength="35"
                        v-model="referal"
                        v-on:input="e => onInput(e.target.value, 'ref')"
                    />
                </div>
                <button :class="{loading: loading}" v-on:click="onRegister">
                    <i class="fa fa-spinner fa-spin fa-1x fa-fw" v-if="loading" />
                    <span v-else>{{ getLocale(isStage(0) ? 'next' : 'register', 'button') }}</span>
                </button>
            </form>
        </section>
    </div>
</template>

<script>
import '../../styles/windows/authWindow.scss'

import * as Events from '../../../../global/constants/ServerEvents'
import { isEmpty, isEmail } from '../../../../global/Validator'
import { locale } from '../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            isOpen: false,
            isLogin: true,
            title: this.getLocale('auth'),
            regState: 0,
            loading: false,
            errorMessage: '',

            login: '',
            password: '',
            rePassword: '',
            email: '',
            referal: ''
        }
    },
    methods: {
        // Обработчик ввода логина
        onLoginInput(value) {
            value = value.replace(/[^a-z0-9@\.]/i, '')
            this.login = value
        },

        // Обработчик ввода других значений
        onInput(value, type) {
            switch(type) {
                case 'pswd':
                    this.password = value
                    break
                case 're-pswd':
                    this.rePassword = value
                    break
                case 'email':
                    this.email = value
                    break
                case 'ref':
                    this.referal = value
                    break
            }
        },

        // Обработчик логина
        onLogin(e) {
            e.preventDefault()
            if (!this.isOpen) return
            if (isEmpty(this.login, this.password)) return this.showError('noEmpty')
            if (this.password.length < 6) return this.showError('tooShortPass')
            this.loading = true
            mp.trigger(Events.CALL_REMOTE, Events.AUTH_LOGIN, this.login.toLowerCase(), this.password)
        },

        // Обработчик регистрации
        onRegister(e) {
            e.preventDefault()
            if (!this.isOpen) return
            if (this.isStage(1)) {
                if (this.email && !isEmail(this.email)) return this.showError('emailInvalid')
                const data = {
                    login: this.login.toLowerCase(),
                    password: this.password,
                    email: this.email,
                    referal: this.referal,
                }
                this.loading = true
                mp.trigger(Events.CALL_REMOTE, Events.AUTH_REGISTER, JSON.stringify(data))
            }
            else {
                if (isEmpty(this.login, this.password, this.rePassword)) return this.showError('noEmpty')
                if (this.password.length < 6) return this.showError('tooShortPass')
                if (this.password !== this.rePassword) return this.showError('passNotMatch')
                this.regState = 1
            }
        },

        // Показывает уведомление об ошибке
        showError(type) {
            this.loading = false
            if (type == 'loginUsed') this.regState = 0
            this.errorMessage = this.getLocale(type)
            setTimeout(() => this.errorMessage = '', 5000)
        },

        // Обработчик переключения между формами
        changeForm(toLogin) {
            if (this.loading) return
            this.login = this.password = this.rePassword = ''
            this.email = this.referal = ''
            this.title = this.getLocale(toLogin ? 'auth' : 'register') 
            this.isLogin = toLogin            
            this.regState = 0
        },

        // Проверяет текущее состояние регистрации
        isStage(value) {
            return this.regState === value
        },

        // Возвращает локализованную строку
        getLocale(value, key) {
            if (!key) key = 'auth'
            return locale(key, value, this.lang)
        }
    },
    created() {
        EventManager.on(Events.AUTH_SHOW, () => this.isOpen = true)
        EventManager.on(Events.AUTH_HIDE, () => this.isOpen = false)
        EventManager.on(Events.AUTH_LOGIN_FAIL, () => this.showError('wrongLogin'))
        EventManager.on(Events.AUTH_REGISTER_FAIL, this.showError)
    }
}
</script>
