<template>
    <div :class="{drivingTheory: true, active: isOpen, inactive: !isOpen}">        
        <header>
            <p class="theory-header">{{ getLocale('drivingSchool', 'header') }}</p>
            <p class="questions-counter">{{ questionNumber }} / {{ questions.length }}</p>
        </header>

        <div class="theory-question" v-if="!isLast()">
            <p>{{ getLocale('drivingSchool', current.question) }}</p>
            <ul class="theory-answers">
                <li v-for="(answer, index) in current.answers" :key="index" v-on:click="onSelect(index)">
                    {{ getLocale('drivingSchool', answer) }}
                </li>
            </ul>
        </div>

        <div class="exam-result" v-else>
            <p class="result-message">
                {{ getLocale('basic', 'result')}}:&nbsp;
                <span :class="{success: isSuccess(), fail: !isSuccess()}">
                    {{ getLocale('basic', isSuccess() ? 'success' : 'fail') }}
                </span>
            </p>
            <p class="answers-count">{{rightAnswers}} / {{questions.length}}</p>
            <button class="finish-btn" v-on:click="onFinish">
                {{ getLocale('button', 'finish') }}
            </button>
        </div>
    </div>
</template>

<script>
import '../../styles/windows/drivingTheoryExam.scss'

import { START_THEORY_EXAM, THEORY_EXAM_FINISH } from '../../../../global/constants/ServerEvents'
import questions from '../data/theoryQuestions.json'
import { locale } from '../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            isOpen: false,
            questions: [],
            questionNumber: 0,  
            current: {},
            rightAnswers: 0
        }
    },
    methods: {
        // запускает экзамен
        startExam() {
            this.isOpen = true
            this.questionNumber = this.rightAnswers = 0
        },

        // выбор ответа
        onSelect(number) {            
            this.rightAnswers += this.current.rightAnswer == number ? 1 : 0
            this.questionNumber += 1
            this.current = this.questions[this.questionNumber]
        },

        // завершение экзамена
        onFinish() {
            mp.trigger(THEORY_EXAM_FINISH, this.isSuccess())
            this.isOpen = false
        },

        // успешно ли сдан экзамен
        isSuccess() {
            return this.rightAnswers >= this.questions.length - 2
        },

        // проверяет, является ли вопрос последним
        isLast() {
            return this.questionNumber == questions.length
        },

        // получение локализованного текста
        getLocale(type, value) {
            return locale(type, value, this.lang)
        }
    },
    beforeMount() {
        this.questions = questions
        this.current = this.questions[0]
    },
    created() {
        this.questionsCount = questions.length
        EventManager.on(START_THEORY_EXAM, this.startExam)
    }
}
</script>
