<template>
    <div class="slider">
        <p class="title">{{ title }}</p>
        <small class="left">{{ leftLabel }}</small>
        <small class="right">{{ rightLabel }}</small>
        <vue-slider
            v-model="value"
            v-bind="rules"
            v-on:input="handleInput"
        ></vue-slider>                        
    </div>
</template>

<script>
import '../../styles/components/rangeSlider.scss'

import {RESET, RANDOM} from '../constants/BusEvents'
import { bus } from '../'
import vueSlider from 'vue-slider-component'

const defaultSettings = {
    value: 0,
    min: 0,
    max: 1,
    interval: 0.1,
    randomize: true,
    tooltip: 'false'
}

export default {
    components: {vueSlider},
    props: [
        'title',
        'leftLabel',
        'rightLabel',
        'onInput',
        'settings'
    ],
    data() {
        return {
            defaultValue: 0,
            value: 0
        }
    },
    methods: {
        // Обработчик событий ввода
        handleInput() {
            this.$emit('user-input', this.value)
        },
        // Выбирает случайное значение
        randomize() {
            if (!this.rules.randomize) return
            let value = Math.random() * (this.rules.max - this.rules.min) + this.rules.min
            if (this.rules.interval % 1 === 0)
                value = Math.floor(value)
            else
                value = value.toFixed(1)
            this.value = value
        }
    },
    computed: {
        rules() {
            return {...defaultSettings, ...this.settings}
        }
    },
    mounted() {
        this.defaultValue = this.rules.value
        this.value = this.defaultValue
    },
    created() {
        bus.$on(RESET, () => this.value = this.defaultValue)
        bus.$on(RANDOM, this.randomize)
    }
}
</script>
