<template>
    <div class="value-slider">
        <span class="title">{{ title }}:</span>
        <i class="fas fa-angle-left" v-on:click="handleChange(-1)"></i>
        <p :id="`${title}-value`" class="value">{{ value }}</p>
        <i class="fas fa-angle-right" v-on:click="handleChange(1)"></i>
    </div>
</template>

<script>
import '../../styles/components/valueSlider.scss'

import {RESET, RANDOM} from '../constants/BusEvents'
import { bus } from '../'

export default {
    props: ['title', 'value', 'min', 'max'],
    data() {
        return {
            index: this.min
        }
    },
    methods: {
        handleChange(shift) {
            if ((shift < 0 && this.index === this.min) || (shift > 0 && this.index >= this.max - 1)) return
            this.index += shift
            this.$emit('index-changed', this.index)
        },
        randomize() {
            const index = Math.floor(Math.random() * this.max)
            this.index = index
            this.$emit('index-changed', this.index)
        }
    },
    created() {
        bus.$on(RESET, () => this.index = this.min)
        bus.$on(RANDOM, this.randomize)
    }
}
</script>
