<template>
    <div :class="{charCreation: true, active: isOpen, inactive: !isOpen}">
        <div class="main-settings">
            <section>
                <div class="name">
                    <div class="first-name">
                        <label for="f-name">{{ getLocale('name') }}</label>
                        <input 
                            id="f-name" 
                            placeholder="Niko"
                            maxlength="15"
                            v-model="character.name"
                            v-on:input="e => updateName(e.target.value, 'name')" 
                        />
                    </div>
                    <div class="last-name">
                        <label for="l-name">{{ getLocale('surname') }}</label>
                        <input
                            id="l-name"
                            placeholder="Bellic"
                            maxlength="15"
                            v-model="character.surname"
                            v-on:input="e => updateName(e.target.value, 'surname')" 
                        />    
                    </div>
                </div>
                <div class="gender">
                    <div class="male">
                        <input id="mr" type="radio" name="g-radio" v-on:change="changeGender(true)" checked />
                        <label for="mr">{{ getLocale('male') }}<span></span></label>
                    </div>
                    
                    <div class="female">
                        <input id="fr" type="radio" name="g-radio" v-on:change="changeGender(false)" />
                        <label for="fr"><span></span>{{ getLocale('female') }}</label>
                    </div>
                </div>
                <div class="parents">
                    <h1>{{ getLocale('genetic') }}</h1>

                    <value-slider class="father" 
                        :title="getLocale('father')"                       
                        :value="getFatherName()"
                        :min="0"
                        :max="24"
                        v-on:index-changed="setFather"
                    />

                    <value-slider class="mother" 
                        :title="getLocale('mother')"                       
                        :value="getMotherName()"
                        :min="0"
                        :max="22"
                        v-on:index-changed="setMother"
                    />

                    <div class="similarity">
                        <slider
                            :title="getLocale('genes')"
                            :leftLabel="getLocale('mother')"
                            :rightLabel="getLocale('father')"
                            v-on:user-input="v => setSimilatiry(v)"
                            :settings="{value: 0.5}"
                        />
                    </div>

                    <div class="skin-similarity">
                        <slider
                            :title="getLocale('skinColor')"
                            :leftLabel="getLocale('mother')"
                            :rightLabel="getLocale('father')"
                            v-on:user-input="v => setSimilatiry(v, 'skin')"
                            :settings="{value: 0.5}"
                        />
                    </div>
                </div>
                <slider class="rotation"
                    :title="getLocale('rotate')"
                    :leftLabel="-90"
                    :rightLabel="90"
                    v-on:user-input="v => setHeading(v)"
                    :settings="{
                        value: 0, min: -90, max: 90, interval: 1, 
                        tooltip: 'hover', randomize: false
                    }"
                />
            </section>
            <button v-on:click="createCharacter" :class="{wait: loading}">                
                <i class="fa fa-spinner fa-spin fa-1x fa-fw" v-if="loading" />
                <span v-else>{{ getLocale('create', 'button') }}</span>
            </button>
        </div>
        <div class="appearance-settings">
            <section>
                <div class="hair">
                    <h1>{{ getLocale('hair') }}</h1>
                    <value-slider 
                        :title="getLocale('hairstyle')"
                        :value="getHairName()"
                        :min="0"
                        :max="isMale() ? 38 : 40"
                        v-on:index-changed="setHair"
                    />
                    <slider
                        :title="getLocale('hairColor')"
                        v-on:user-input="i => setAppearance(i, 'hairColor')"
                        :settings="{value: 0, interval: 1, max: 64, tooltip: 'hover'}"
                    />
                    <slider
                        :title="getLocale('highlightColor')"
                        v-on:user-input="i => setAppearance(i, 'highlightColor')"
                        :settings="{value: 0, interval: 1, max: 64, tooltip: 'hover'}"
                    />
                    <value-slider class="beard" v-if="isMale()"
                        :title="getLocale('beard')"
                        :value="getAppearance('beard')"
                        :min="-1"
                        :max="30"
                        v-on:index-changed="i => setAppearance(i, 'beard')"
                    />
                    <slider v-if="isMale()"
                        :title="getLocale('beardColor')"
                        v-on:user-input="i => setAppearance(i, 'beardColor')"
                        :settings="{value: 0, interval: 1, max: 64, tooltip: 'hover'}"
                    />
                </div>
                <div class="face">
                    <h1>{{ getLocale('face') }}</h1>
                    <div v-for="(type, item, index) in appearance" :key="index">
                        <value-slider v-if="hasSettings(index)"
                            :title="getLocale(item)"
                            :value="getAppearance(item)"
                            :min="index === 3 ? 0 : -1"
                            :max="type.length"
                            v-on:index-changed="i => setAppearance(i, item)"
                        />
                        <slider v-if="index === 7 && !isMale()" class="blush-color"
                            :title="getLocale('blushColor')"
                            v-on:user-input="i => setAppearance(i, 'blushColor')"
                            :settings="{value: 0, interval: 1, max: 27, tooltip: 'hover'}"
                        />
                        <slider v-if="index === 8 && !isMale()" class="lipstick-color"
                            :title="getLocale('lipstickColor')"
                            v-on:user-input="i => setAppearance(i, 'lipstickColor')"
                            :settings="{value: 0, interval: 1, max: 32, tooltip: 'hover'}"
                        />
                    </div>
                </div>
                <div class="features">
                    <h1>{{ getLocale('details') }}</h1>
                    <slider v-for="(feature, index) in features" :key="index"
                        :title="getLocale(feature, 'features')"
                        v-on:user-input="v => setFeature(v, index)"
                        :settings="{value: 0, interval: 0.1, min: -1.0, max: 1.0, tooltip: 'hover'}"
                    />
                </div>
            </section>
            <button v-on:click="randomize">{{ getLocale('random', 'button') }}</button>
        </div>
        <p class="error-message">{{ errorMessage }}</p>
    </div>
</template>

<script>
import '../../../styles/windows/charCreation.scss'

import data from './creation-data.json'
import hairs from '../../data/hairs.json'

import { bus } from '../../'
import * as Events from '../../../../../global/constants/ServerEvents'
import { RESET, RANDOM } from '../../constants/BusEvents'
import GenderType from '../../../../../global/enums/GenderType'
import { locale } from '../../../../../global/Locale'
import vueSlider from 'vue-slider-component'
import RangeSlider from '../../components/RangeSlider.vue'
import ValueSlider from '../../components/ValueSlider.vue'

const fathers = data.parents.fathers
const mothers = data.parents.mothers
const maleHairs = hairs.male
const femaleHairs = hairs.female

export default {
    props: ['lang'],
    components: {
        vueSlider,
        'slider': RangeSlider,
        'value-slider': ValueSlider
    },
    data() {
        return {
            isOpen: false,
            fatherIndex: 0,
            motherIndex: 0,
            hairIndex: 0,
            randomized: false,
            loading: false,
            errorMessage: '',

            appearance: data.appearance,
            features: data.features,

            character: {
                name: '',
                surname: '',
                gender: GenderType.Male,
                genetics: {
                    father: 0,
                    mother: 0,
                    similarity: 0.5,
                    skinSimilarity: 0.5
                },
                hair: {
                    model: 0,
                    color: 0,
                    highlightColor: 0,
                    beard: -1,
                    beardColor: 0
                },
                face: {
                    eyeColor: 0,
                    eyebrows: -1,
                    makeup: -1,
                    blush: -1,
                    blushColor: 0,
                    lipstick: -1,
                    lipstickColor: 0,
                    freckles: -1,
                    complexion: -1,
                    ageing: -1
                },
                features: []
            }
        }
    },
    methods: {
        // Обновляет имя или фамилию
        updateName(value, type) {
            value = value.replace(/[^a-z]/i, '')
            value = value.charAt(0).toUpperCase() + value.slice(1).toLowerCase()
            if (type === 'name')
                this.character.name = value
            else
                this.character.surname = value
        },
        
        // Выбор пола персонажа
        changeGender(isMale) {
            this.reset()
            this.character.gender = isMale ? GenderType.Male : GenderType.Female
            mp.trigger(Events.CHAR_GENDER_CHANGE, this.character.gender)
            this.previewChanges()
        },

        // Поворот персонажа
        setHeading(value) {
            mp.trigger(Events.CHAR_ROTATE, value)
        },

        // Устанавливает лицо отца
        setFather(index) {
            this.fatherIndex = index
            this.character.genetics.father = fathers[this.fatherIndex].value
            this.previewChanges()
        },

        // Устанавливает лицо отца
        setMother(index) {
            this.motherIndex = index
            this.character.genetics.mother = mothers[this.motherIndex].value
            this.previewChanges()
        },

        // Устанавливает влияние генов родителя
        setSimilatiry(value, type) {
            if (type === 'skin')
                this.character.genetics.skinSimilarity = value
            else
                this.character.genetics.similarity = value
            this.previewChanges()
        },

        // Устанавливает прическу
        setHair(index) {
            if (index === -1) index = 0
            const hairs = this.isMale() ? maleHairs : femaleHairs
            this.hairIndex = index
            this.character.hair.model = hairs[this.hairIndex].value
            this.previewChanges()
        },

        // Устанавливает настройку внешности
        setAppearance(index, type) {
            if (type === 'hairColor') this.character.hair.color = index
            if (type === 'highlightColor') this.character.hair.highlightColor = index
            if (type === 'beard') this.character.hair.beard = index
            if (type === 'beardColor') this.character.hair.beardColor = index
            if (type === 'eyebrows') this.character.face.eyebrows = index
            if (type === 'makeup') this.character.face.makeup = index
            if (type === 'blush') this.character.face.blush = index
            if (type === 'blushColor') this.character.face.blushColor = index
            if (type === 'lipstick') this.character.face.lipstick = index
            if (type === 'lipstickColor') this.character.face.lipstickColor = index
            if (type === 'freckles') this.character.face.freckles = index
            if (type === 'complexion') this.character.face.complexion = index
            if (type === 'ageing') this.character.face.ageing = index
            if (type === 'eyeColor') this.character.face.eyeColor = index
            this.previewChanges()
        },

        // Устанавливает значение особенности внешности
        setFeature(value, index) {
            this.character.features[index] = value
            this.previewChanges()
        },

        // Возвращает имя отца
        getFatherName() {
            return this.getLocale(fathers[this.fatherIndex].name, 'parents')
        },

        // Возвращает имя матери
        getMotherName() {
            return this.getLocale(mothers[this.motherIndex].name, 'parents')
        },

        // Возвращает название прически
        getHairName() {
            const hairs = this.isMale() ? maleHairs : femaleHairs
            return this.getLocale(hairs[this.hairIndex].name, 'hairs')
        },

        // Возвращает название настройки внешности
        getAppearance(type) {
            let index
            if (type === 'beard') index = this.character.hair.beard
            if (type === 'eyebrows') index = this.character.face.eyebrows
            if (type === 'makeup') index = this.character.face.makeup
            if (type === 'blush') index = this.character.face.blush
            if (type === 'lipstick') index = this.character.face.lipstick
            if (type === 'freckles') index = this.character.face.freckles
            if (type === 'complexion') index = this.character.face.complexion
            if (type === 'ageing') index = this.character.face.ageing
            if (type === 'eyeColor') index = this.character.face.eyeColor
            const value = index !== -1 ? data.appearance[type][index] : 'none'
            return this.getLocale(value, type)
        },
        
        // Проверяет выбранный пол
        isMale() {
            return this.character.gender === 0
        },

        // Проверяет, доступна ли персонажу данная настройка
        hasSettings(index) {
            if (index === 0) return false
            if ([6, 7, 8].includes(index) && this.isMale()) return false
            return true
        },

        // Применяет настройки внешности персонажа
        previewChanges() {
            if (this.randomized || !this.isOpen) return
            mp.trigger(Events.CHAR_PREVIEW, JSON.stringify(this.character))
        },

        // Сбрасывает настройки
        reset() {
            const char = this.character
            this.fatherIndex = this.motherIndex = this.hairIndex = 0
            char.genetics.father = 0
            char.genetics.mother = 0
            char.genetics.similarity = 0.5
            char.genetics.skinSimilarity = 0.5
            char.hair.model = 0
            char.hair.color = 0
            char.hair.highlightColor = 0
            char.hair.beard = -1
            char.hair.beardColor = 0
            char.face.eyebrows = -1
            char.face.makeup = -1
            char.face.blush = -1
            char.face.blushColor = 0
            char.face.lipstick = -1
            char.face.lipstickColor = 0
            char.face.freckles = -1
            char.face.complexion = -1
            char.face.ageing = -1
            char.face.eyeColor = 0
            char.features.forEach(e => e = 0.0);
            bus.$emit(RESET)
        },

        // Создает персонажа
        createCharacter() {
            if (!this.isOpen) return
            if (this.character.name.length < 2 || this.character.surname.length < 2) {
                this.showError('tooShort')
                return
            }
            this.loading = true
            mp.trigger(Events.CALL_REMOTE, Events.CHAR_CREATE, JSON.stringify(this.character))
        },

        // Рандомизирует настройки внешности
        randomize() {
            if (!this.isOpen) return
            this.randomized = true
            bus.$emit(RANDOM)
            setTimeout(() => {
                this.randomized = false
                this.previewChanges()
            }, 300)
        },

        // Обработчик неудачного выбора именя
        nameAlreadyUse() {
            this.loading = false
            this.character.name = this.character.surname = ''
            this.showError('alreadyUse')
        },

        // Уведомляет пользователя об ошибке
        showError(value) {
            this.errorMessage = this.getLocale(value)
            setTimeout(() => this.errorMessage = '', 5000)
        },

        // Возвращает локализированный текст
        getLocale(value, key) {
            if (!key || value === 'none') key = 'character'
            return locale(key, value, this.lang)
        }
    },
    created() {
        EventManager.on(Events.CHAR_SHOW_CREATOR, () => {
            this.reset()
            this.isOpen = true            
        })
        EventManager.on(Events.CHAR_HIDE_CREATOR, () => this.isOpen = false)
        EventManager.on(Events.CHAR_NAME_USE, this.nameAlreadyUse)
    }
}
</script>
