<template>
    <div :class="{sidebar: true, fillingSidebar: true, active: isOpen, inactive: !isOpen}">
        <header>
            <h1>{{ getLocale('place', 'filling') }}</h1>
        </header>
        <section>
            <div class="filling" v-if="fuelTank > 0">
                <div class="stats">
                    <p><i class="fas fa-car"></i><span>{{ fuel }}L</span></p>
                    <p><i class="fas fa-fill"></i><span>{{ fuelTank }}L</span></p>
                </div>
                <slider
                    :title="getLocale('radialMenu', 'fuel')"
                    :leftLabel="0"
                    :rightLabel="fuelTank - fuel"
                    v-on:user-input="v => onLitersChange(v)"
                    :settings="{min: 0, max: fuelTank - fuel, interval: 1, tooltip: 'hover'}"
                />
                <p class="price">{{ animatedPrice }}$</p>
                <button :class="{inactive: price === 0}" v-on:click="onFillClick">
                    {{ getLocale('filling', 'fill') }}
                </button>
            </div>
            <div class="veh-not-found" v-else>
                <h2>{{ getLocale('filling', 'noVehicle') }}</h2>
                <p>{{ getLocale('filling', 'noVehicleHint') }}</p>
            </div>
        </section>
        <i class="hide-button fa fa-arrow-circle-right" v-on:click="hide" />
    </div>
</template>

<script>
import '../../../styles/sidebars/fillingSidebar.scss'

import { bus } from '../../'
import { RESET } from '../../constants/BusEvents'
import * as Events from '../../../../../global/constants/ServerEvents'
import { locale } from '../../../../../global/Locale'
import RangeSlider from '../../components/RangeSlider.vue'

export default {
    props: ['lang'],
    components: {
        'slider': RangeSlider
    },
    data() {
        return {
            isOpen: false,
            fuel: 0,
            fuelTank: 0,
            liters: 0,
            price: 0
        }
    },
    methods: {
        // Показывает панель заправки
        show(data) {
            if (data.fuel && data.fuelTank) {
                this.fuel = parseInt(data.fuel)
                this.fuelTank = parseInt(data.fuelTank)
            }
            else
                this.fuel = this.fuelTank = 0
            this.isOpen = true
        },

        // Скрывает боковую панель
        hide() {
            this.liters = this.price = 0
            this.isOpen = false
            bus.$emit(RESET)
            mp.trigger(Events.HIDE_SIDEBAR)
        },

        // Обработчик изменения литров
        onLitersChange(value) {
            this.liters = value
        },

        // Обработчик подтверждения заправки авто
        onFillClick() {
            if (this.price === 0) return
            mp.trigger(Events.CALL_REMOTE, Events.FILL_VEHICLE, this.liters, this.price)
            this.hide()
        },

        // Возвращает локализованную строку
        getLocale(key, value) {
            return locale(key, value, this.lang)
        }
    },
    computed: {
        animatedPrice() {return this.price.toFixed(0)}
    },
    watch: {
        liters(newValue) {
            TweenLite.to(this.$data, 0.5, { price: newValue * 4 });
        }
    },
    created() {
        EventManager.on(Events.FS_SHOW, this.show)
    }
}
</script>
