<template>
    <div :class="{sidebar: true, fillingShopSidebar: true, active: isOpen, inactiveSlide: !isOpen}">
        <header>
            <h1>{{ getLocale('radialMenu', 'shop') }}</h1>
        </header>
        <section>
            <p>В разработке</p>
        </section>
        <i class="hide-button fa fa-arrow-circle-right" v-on:click="hide" />
    </div>
</template>

<script>
import '../../../styles/sidebars/fillingShopSidebar.scss'

import * as Events from '../../../../../global/constants/ServerEvents'
import { locale } from '../../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            isOpen: false
        }
    },
    methods: {
        // Скрывает боковую панель
        hide() {
            this.isOpen = false
            mp.trigger(Events.HIDE_SIDEBAR)
        },

        // Возвращает локализованную строку
        getLocale(key, value) {
            return locale(key, value, this.lang)
        }
    },
    created() {
         EventManager.on(Events.FS_SHOW_SHOP, () => this.isOpen = true)
    }
}
</script>
