@import '../templates.scss';

.menu {
    @extend .absolute-center;
    width: 5em;
    height: 5em;
    transition: 0.3s;   

    &.active {z-index: 100;}
    &.inactive {z-index: -1;}

    .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        transition: opacity 1s, z-index 0.3s, transform 1s;
        transform: translateX(0);

        color: $blue;
        border-radius: 50%;
        background: $black;
        opacity: 0;
        z-index: -1;

        .fa, .fas, .far {
            @extend .absolute-center;
            font-size: 2em;
            transition: color 0.3s;
        }

        &:hover .fa, &:hover .fas, &:hover .far {
            color: rgba(255,255,255, 0.7);
        }

        &.central {
            transform: scale(1.5);
            opacity: 1;
            z-index: 10;
            transition: transform 0.2s;
            p {
                @extend .absolute-center;
                text-align: center;
                color: $white;
                font: {
                    family: $HelveticaBold;
                    size: 12px;
                }
            }
        }
    }

    .menu-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;

        &.money {.item{color: $green;}}
        &.back {.item{color: $red;}}
    }

    &.active {
        opacity: 1;

        .item-icon {
            opacity: 1;
            z-index: 50;
        }
    }

    &.inactive {
        opacity: 0;
    }
}

$numOfElems: 8;

@for $i from 1 through $numOfElems {
    $deg: 360deg / $numOfElems;

    .menu-item:nth-child(#{$i}) {
        transform: rotate($deg/-2 + $deg * ($i - 1));
    }

    .menu.active {
        .menu-item:nth-child(#{$i}) .item-icon {
            transform: translateY(-7em) rotate($deg/2 - $deg * ($i - 1)); 
        }
    }
}