@import "../templates.scss";

.sidebar {
    @extend .side-panel-behavior;

    font-family: $HelveticaRoman;
    color: $white;

    header {
        position: relative;
        height: 20%;
        min-height: 85px;
    
        h1 {
            position: absolute;
            top: 40%;
            left: 10%;
            font-size: calc(16px + .8vw);
            background-image: -webkit-gradient(linear, left top, right top, from($blue), to($blue));
            background-repeat: no-repeat;
            background-position: 1.5vw 2vh;
            padding-right: 1vw;            
        }
    }
    
    .hide-button {
        position: fixed;
        bottom: 1.5vh;
        right: 1vw;
        color: $gray;
    
        &:hover {color: $white;}
    }
}