@import "./baseSidebar.scss";

.bistro {
    width: 25%;
    min-width: 250px;

    ul {
        @extend .scroll-behavior;
        height: 55vh;
        width: 80%;        
        margin: 0 auto;
        padding: 0 1vw;
        list-style-type: none;

        li {
            display: flex;
            flex-direction: row;
            height: 4vh;
            min-height: 35px;
            margin-bottom: 2vh;

            img {                
                width: 2vw;
                min-width: 30px;
            }
            .info {              
                width: 85%;
                transition: .3s;
                text-align: center;
                border-bottom: 1px solid $gray;
                small {color: $gray;}
            }
            .price {
                padding-top: 1vh;
                color: $blue;
                font-size: calc(14px + .3vw);
                transition: .3s;
                text-align: right;
                border-bottom: 1px solid $gray;
            }

            &.selected {
                .info, .price {border-bottom: 1px solid $blue;}
                .info p {color: $blue;}
            }
            &:hover {
                .info, .price {border-bottom: 1px solid $blue;}
            }
        }
    }

    .total-price {
        margin: 4vh 1.5vw 0 0;
        color: $blue;
        font-size: calc(16px + .5vw);
        text-align: right;
    }

    button {
        @extend .button;
        margin-top: 4vh;
    }
}