@import "./baseSidebar.scss";

.deliveryContracts {
    width: 25%;
    min-width: 250px;
    section {
        height: 80%;
        min-height: 300px;

        ul {
            @extend .scroll-behavior;
            height: 90%;
            list-style-type: none;
            padding: 0 .5vw 0 1vw;

            li {
                background-color: $blue;
                margin: 2.5vh 0;
                padding: 2vh 1vw;
                border-radius: 10px;

                .contract-name {
                    text-align: left;
                }

                .contract-reward {
                    text-align: right;
                }
                
                &:hover {
                    background-color: lighten($blue, 10%);
                }
            }
        }
    }
}