@import "./baseSidebar.scss";

.fillingShopSidebar {
    width: 25%;
    min-width: 250px;
    p {
        margin-top: 25vh;
        text-align: center;
        font-size: calc(28px + .5vw);
        color: $gray;
    }
}