@import "./baseSidebar.scss";

.fillingSidebar {
    width: 25%;
    min-width: 250px;
    div {
        width: 90%;
        margin: 0 auto;
    }

    .filling {
        margin-top: 5vh;
        .stats p {
            margin-bottom: 2vh;
            text-align: center;
            font-size: calc(32px + .5vw);
            i {color: $blue;}
            span {padding-left: 1vw;}
        }
        .slider {
            position: relative;
            margin-top: 10vh;
            .vue-slider {
                width: 100%;
            }
        }
        .price {
            margin-top: 17vh;
            color: $blue;
            text-align: right;
            font-size: calc(14px + .5vw);
        }
        button {            
            @extend .button;
            margin-top: 2vh;
            &.inactive {background-color: $gray;}
        }
    }

    .veh-not-found {        
        margin-top: 23vh;
        text-align: center;
        h2 {
            color: $red;
            font-size: calc(18px + .5vw);
        }
        p {
            margin-top: 2vh;
            color: $gray;
            font-size: calc(12px + .3vw);
        }
    }
}