<template>
    <div :class="{taxiOrder: true, active: isOpen, inactive: !isOpen}">
        <header>
            <img src="images/taxi-logo.png" />
        </header>
        <section>
            <i class="fas fa-search" v-if="!hasOrder"></i>
            <i class="far fa-check-circle" v-else></i>

            <p class="status">{{ getOrderStatus() }}</p>
            <p class="client-type" v-if="hasOrder">{{ getClientType() }}</p>
            <p class="cost" v-if="cost > 0">{{ getLocale('basic', 'cost') }}: {{ cost }}$</p>
        </section>
    </div>
</template>

<script>
import '../../../styles/windows/jobs/taxiOrderInfo.scss'

import { TAXI_WAIT_ORDER, TAXI_HAS_ORDER } from '../../../../../global/constants/ServerEvents'
import { locale } from '../../../../../global/Locale'

export default {
    props: ['lang'],
    data() {
        return {
            isOpen: false,
            hasOrder: false,
            cost: 0,
            clientIsHurrying: false
        }
    },
    methods: {
        // Обработчик поиска заказа
        setWait() {
            this.hasOrder = false
            this.isOpen = true
            this.cost = 0
        },

        // Обработчик поступления заказа
        receivedOrder(args) {
            this.hasOrder = true
            this.clientIsHurrying = args[0]
            this.cost = args[1]
            setTimeout(() => this.isOpen = false, 5000)
        },

        // Возвращает информацию о состоянии заказа
        getOrderStatus() {
            const value = this.hasOrder ? 'hasOrder' : 'waitOrder'
            return this.getLocale('taxiDriver', value)
        },

        // Возвращает информацию о типе клиента
        getClientType() {
            const value = this.clientIsHurrying ? 'hurryingClient' : 'calmClient'
            return this.getLocale('taxiDriver', value)
        },

        // Возвращает локализованную строку
        getLocale(key, value) {
            return locale(key, value, this.lang)
        }
    },
    created() {
        EventManager.on(TAXI_WAIT_ORDER, this.setWait)
        EventManager.on(TAXI_HAS_ORDER, this.receivedOrder)
    }
}
</script>
