@import "../../templates.scss";

.taxiOrder {
    @extend .base-view-behavior;
    position: fixed;
    right: 15vw;
    top: 15vh;
    width: 30vh;
    height: 40vh;
    min-width: 200px;
    min-height: 270px;

    header {
        position: relative;
        height: 20%;

        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: $orange;

        img {
            height: 100%;
            float: right;
            margin-right: 5%;
        }
    }

    section {
        height: 80%;

        i {
            width: 100%;
            margin-top: 25%;
            color: $white;
            font-size: calc(64px + 1vw);
            text-align: center;
        }

        p {
            font-family: $HelveticaRoman;
            text-align: center;            
        }

        .status {
            margin-top: 10%;
            font-size: calc(12px + 0.3vw);
            color: $white;
        }

        .client-type {
            margin-top: .7vh;
            padding: 0 5px 0;
            color: $gray;
            font-size: calc(10px + 0.2vw);            
        }

        .cost {
            margin-top: 1.8vh;
            font-size: calc(12px + 0.5vw);
            color: $blue;
        }
    }
}